body, html {
  margin: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.header {
  padding: 1rem 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
}
.header__logo {
  font-family: "Shrikhand", "cursive";
  margin: 0;
  text-align: center;
}

.footer {
  background-color: #353535;
}
.footer .container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.footer__logo {
  color: white;
  font-family: "Shrikhand", "cursive";
  margin: 0;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer__listElt {
  margin: 0.5rem 0;
}
.footer__listElt:first-child {
  margin-top: 0;
}
.footer__listElt:last-child {
  margin-bottom: 0;
}
.footer__link {
  color: white;
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
}
.footer__icon {
  width: 1.2rem;
  margin-right: 0.5rem;
}

.header--withBackArrow {
  position: relative;
}
.header__arrow {
  position: absolute;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%);
  font-size: 1.2rem;
  color: black;
}

.heroImg {
  max-width: 100%;
  max-height: 32rem;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.menu {
  margin-top: -4rem;
  border-radius: 2rem 2rem 0 0;
  background-color: #f6f6f6;
  z-index: 1;
  position: relative;
}
.menu__header {
  padding: 1rem 2rem 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__title {
  font-family: "Shrikhand", "cursive";
}
.menu__btn {
  border: 0;
  background-color: inherit;
}
.menu .fa-heart {
  color: black;
  cursor: pointer;
}
.menu .fa-heart:hover {
  -webkit-animation: fill 5s ease-in-out;
          animation: fill 5s ease-in-out;
  display: inline-block;
  opacity: 1;
  background: linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  background: -webkit-linear-gradient(to left, #9356dc, #b35cdc, #cf64dc, #e86edb, #ff79da);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}
@-webkit-keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fill {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.submenus {
  display: grid;
}
@media (min-width: 64rem) {
  .submenus {
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 1rem;
         column-gap: 1rem;
  }
}

.submenu {
  max-width: 100%;
  overflow: hidden;
  padding: 0 1rem;
}
.submenu__title {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  font-weight: normal;
}
.submenu__title::after {
  content: "";
  width: 3rem;
  height: 0.25rem;
  background-color: #99E2D0;
  position: absolute;
  left: 0;
  bottom: 0;
}

.starter {
  -webkit-animation: fadein 3s ease-in-out;
          animation: fadein 3s ease-in-out;
}

.delay-0 {
  -webkit-animation: fadein 1s ease-in-out;
          animation: fadein 1s ease-in-out;
}

.delay-1 {
  -webkit-animation: fadein 1.5s ease-in-out;
          animation: fadein 1.5s ease-in-out;
}

.delay-2 {
  -webkit-animation: fadein 2s ease-in-out;
          animation: fadein 2s ease-in-out;
}

.dish {
  -webkit-animation: fadein 2.5s ease-in-out;
          animation: fadein 2.5s ease-in-out;
}

.delay-3 {
  -webkit-animation: fadein 3s ease-in-out;
          animation: fadein 3s ease-in-out;
}

.delay-4 {
  -webkit-animation: fadein 3.5s ease-in-out;
          animation: fadein 3.5s ease-in-out;
}

.delay-5 {
  -webkit-animation: fadein 4s ease-in-out;
          animation: fadein 4s ease-in-out;
}

.dessert {
  -webkit-animation: fadein 4.5s ease-in-out;
          animation: fadein 4.5s ease-in-out;
}

.delay-6 {
  -webkit-animation: fadein 5s ease-in-out;
          animation: fadein 5s ease-in-out;
}

.delay-7 {
  -webkit-animation: fadein 5.5s ease-in-out;
          animation: fadein 5.5s ease-in-out;
}

.delay-8 {
  -webkit-animation: fadein 6s ease-in-out;
          animation: fadein 6s ease-in-out;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    margin-top: 20px;
  }
  to {
    opacity: 1;
    margin-top: 0px;
  }
}
.menuItem {
  background-color: white;
  padding: 1rem;
  display: flex;
  border-radius: 0.75rem;
  margin: 1rem 0;
  box-shadow: 0.25rem 0.25rem 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
}
.menuItem__header {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex: 1;
}
.menuItem__title {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__description {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menuItem__price {
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-left: 0.5rem;
}
.menuItem__confirmation {
  background-color: #99E2D0;
  margin: -1rem -5rem -1rem 1rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__confirmation {
  margin-right: -1rem;
}
.menuItem__wrapIcon {
  height: 1.6rem;
  width: 1.6rem;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  transform: rotate(180deg);
  transition-duration: 0.5s;
}
.menuItem:hover .menuItem__wrapIcon {
  transform: rotate(0);
}
.menuItem__icon {
  color: #99E2D0;
}

.menuItem delay-0 {
  -webkit-animation: fadeIn;
          animation: fadeIn;
}

.wrapBtn {
  display: flex;
  text-decoration: none;
  justify-content: center;
  padding: 3rem 0;
}

.commandBtn {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9) 0%, rgba(255, 121, 218, 0.9) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.commandBtn:hover {
  background-color: white;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.5);
}
.commandBtn a {
  text-decoration: none;
  color: inherit;
}/*# sourceMappingURL=pages.css.map */