@use "sass:color";

body, html {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  align-items: center;
}

@mixin button($type) {
  border: 0;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: white;
  background-color: rgb(104, 104, 104);
  background-image: linear-gradient(0deg, color.scale($color-primary, $alpha: -10%) 0%, color.scale($color-secondary, $alpha: -10%) 100%);
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);

  &:hover {
    background-color: white;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.50);
  }

  a {
    text-decoration: none;
    color: inherit;
  }
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$appPadding: 1rem;

.container {
  max-width: 1280px;
  margin: auto;
  position: relative;
}

.header {
  padding: 1rem $appPadding;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;

  &__logo {
    font-family: "Shrikhand", "cursive";
    margin: 0;
    text-align: center;
  }
}

.footer {
  background-color: #353535;
  
  .container {
    display: flex;
    flex-direction: column;
    padding: $appPadding;
  }
  
  &__logo {
    color: white;
    font-family: "Shrikhand", "cursive";
    margin: 0;
    font-size: 1.2rem;
    margin-bottom: $appPadding;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listElt {
    margin: 0.5rem 0;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__link {
    color: white;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__icon {
    width: 1.2rem;
    margin-right: 0.5rem;
  }
}

  i.card__like.menu__like.menu__like--noBg.far.fa-heart.fa-2x:hover {
    font-weight: 900;
    background: linear-gradient(#9356DC, #FF79DA );
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }

  .local {
    display: flex;
    justify-content: center;
    padding: 1.25rem $appPadding;
    background-color: rgb(243, 243, 243);
    font-size: 1.2rem;
    position: relative;
  
    &__icon {
      margin-right: 1rem;
    }
  
    &__text {
      font-weight: 700;
    }
  }
  
  .title {
    padding: 2rem;
    text-align: center;
    background-color: rgb(250, 250, 250);
  
    &__title {
      margin: 0;
    }
  
    &__subtitle {
      font-weight: 300;
      margin: 1.5rem 0;
    }
  
    &__btn {
      @include button(primary);
    }
  }
  
  .liste {
    padding: ( $appPadding + 1rem ) $appPadding;
  
    &__title {
      margin-top: 0;
    }
  
    &__steps {
      margin: 0;
      padding: 0;
      list-style: none;
      counter-reset: compteListe;
  
      @media (min-width:64rem) {
        display: flex;
      }
    }
  
    &__step {
      padding: 1.5rem;
      margin: 1rem 0 1rem 0.75rem;
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.125);
      border-radius: 1.25rem;
      background-color: #f6f6f6;
      display: flex;
      position: relative;
  
      @media (min-width:64rem) {
        flex: 1;
        margin: 0;
        margin-left: 2rem;
  
        &:first-child {
          margin-left: 0.75rem;
        }
      }
  
      &:first-child {
        margin-top: 0;
      }
  
      &:last-child {
        margin-bottom: 0;
      }
  
      &::before {
        counter-increment: compteListe 1;
        content: counter(compteListe) " ";
        background: $color-primary;
        height: 1.5rem;
        width: 1.5rem;
        border-radius: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        position: absolute;
        left: -0.75rem;
      }
    }
  
    &__icon {
      margin-right: 1rem;
      color: #7e7e7e;
    }
  }
  
  .restaurants {
    background-color: #f6f6f6;
    padding: ($appPadding + 1rem) $appPadding;
  
  }
  
  .cards {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  
    @media (min-width:64rem) {
     flex-direction: row;
     column-gap: 2rem;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 1rem;
    position: relative;
    text-decoration: none;
    color: inherit;
    display: block;
    @media (min-width:64rem) {
      width: 24%;
      
    }
  
    &__img {
      height: 12rem;
      width: 100%;
      border: transparent solid 0px;
      border-radius: 1rem 1rem 0 0;
      box-shadow: none;
      object-fit: cover;
      @media (min-width:64rem) {
        width: 100%;
      }
    }
  
    &__badge {
      background-color: $color-tertiary;
      color: darken($color-tertiary, 50%);
      padding: 0.5rem;
      border-radius: 0.125rem;
      position: absolute;
      top: 1rem;
      right: 0.75rem;
    }
  
    &__footer {
      padding: 1rem;
      position: relative;
      display: flex;
      align-items: center;
    }
  
    &__content {
      flex: 1;
    }
  
    &__title {
      margin: 0;
      margin-bottom: 0.25rem;
    }
  
    &__subtitle {
      margin: 0;
    }
  
    &__btn {
      height: 2rem;
      width: 2rem;
      background-color: transparent;
      border: transparent 0px solid;
      padding: 0;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  
    &__like {
      background-color: white!important;
    }
  }
  @keyframes itemAppear {
    0% {
      transform: scale(0)
    }
    100% {
      transform: scale(1);
    }
  }

  